html {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
}

body {
  font-size: 1em;
  background-image: url('../img/bg-pattern-top-mobile.svg'), url('../img/bg-pattern-bottom-mobile.svg');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/*****HEADER STYLES*****/
header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

h1 {
  font-size: 2em;
  color: #511d4e;
  font-weight: 700;
  text-align: center;
  width: 325px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1em;
  color: #8b7a8c;
  font-weight: 400;
  text-align: center;
  line-height: 1.65em;
  width: 325px;
  margin: 0;
}

/*****ASIDE STYLES*****/
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.rating {
  background-color: #f7f2f8;
  border-radius: 10px;
  width: 325px;
  margin: 15px 0;
}

.star {
  text-align: center;
}

.category {
  font-size: 0.85em;
  color: #452b4e;
  font-weight: 700;
  text-align: center;
}

/*****MAIN STYLES*****/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px 0 75px 0;
}

.reviews {
  background-color: #511f50;
  width: 325px;
  border-radius: 10px;
  padding: 0;
  margin: 10px 0;
}

.headshot {
  border-radius: 50%;
  width: 40px;
  padding: 28px 0;
  float: left;
}

.name {
  color: #fff8ff;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 30px;
  margin: 0;
  float: left;
}

span {
  color: #c06ca7;
  font-weight: 400;
}

.review {
  color: #fff8ff;
  font-size: 0.85em;
  line-height: 1.5em;
  padding: 0 30px 30px 30px;
  clear: both;
}

/*****DESKTOP STYLES*****/
@media only screen and (min-width: 1440px) {
  body {
      background-image: url('../img/bg-pattern-top-desktop.svg'), url('../img/bg-pattern-bottom-desktop.svg');
      background-repeat: no-repeat;
      background-position: top left, bottom right;
  }

  h1 {
    font-size: 3em;
    text-align: left;
    width: 450px;
  }

  h3 {
    text-align: left;
    width: 450px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .rating {
    width: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #top {
    margin-left: 100px;
    margin-top: 60px;
  }

  #middle {
    margin-left: 180px;
  }

  #bottom {
    margin-left: 260px;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .reviews {
    width: 350px;
    margin: 29px;
  }

  #left {
    margin-top: 0px
  }

  #center {
    margin-top: 30px;
  }

  #right {
    margin-top: 60px;
  }
}